{% load sass_tags%} {%load svg %} {% block css%}
<link rel="stylesheet" href="{% sass_src 'scss/app-bar.scss' %}" />

{%endblock %}
<nav style="height: {{top_bar_height}};" class="nav">
  <div class="d-flex app-bar d-flex align-items-end h-100">
    <form action="" class="pt-2 ps-3">
      <div class="form-group d-flex bg-light rounded h-100 align-items-center ps-2">
        <label for="search-input" class="icon d-flex h-100">{% svg 'search' %}</label>
        <input id="search-input" type="text" class="form-control border-0 search-input w-100" placeholder="search movie, category..." />
      </div>
    </form>
  </div>
</nav>
