 {% block css %} {% load sass_tags %}
<link rel="stylesheet" href="{% sass_src 'scss/categories.scss' %}" />
{% endblock %}
<div class="w-100 mt-4 categories-cont row flex-row">
  {% for cat in categories%}
  <a href="{% url 'home'%}{% if cat.id %}?category={{cat.id}}{%endif%}" class="chip nav-link {% if activeCat|stringformat:"s" == cat.id|stringformat:"s" %} active {% endif %}">
    <span class="d-block"> {{cat.name}} </span></a
  >
  {% endfor%}
</div>


<script>
  window.addEventListener('load', function(){
    const chip=document.querySelector('.categories-cont .chip.active')
    if(chip) {
      chip.onclick = function(e){e.preventDefault()}
    }
  })
</script>
