{% extends 'base-empty.html' %} {% block content %}
<div class="flex-fill w-100 d-flex flex-row overflow-hidden">
  {% include "main/sections/sidebar.html" %}

  <main class="d-block flex-fill px-sm-2 px-lg-4">
    {% block navbar%}
    <div class="control-sections">{% include "main/sections/app-bar.html" %} {% include "main/sections/categories.html" %}</div>
    {%endblock%}
    <div class="flex-fill overflow-y-scroll h-100 scroll" style="padding-bottom: {{top_bar_height}};">{% block body%} {% endblock %}</div>
  </main>

  <script>
    window.addEventListener("load", () => {
      const xScrolls = Array.from(document.querySelectorAll(".scroll, .scroll-x")).forEach((el) => {
        const scrollElement = new SimpleBar(el).getContentElement();
      });
    });
  </script>
</div>
{% endblock content %}
