{% load sass_tags %} {% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="{% sass_src 'scss/custom.scss' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="{% sass_src 'scss/sidebar.scss' %}"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="{% static 'css/common.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    <title>{% block title %} {{ title }} {% endblock %}</title>
  </head>
  <body>
    <div class="d-flex flex-row h-100 overflow-y-scroll">
      <div class="px-3 sidebar">
        <nav class="nav flex-column">
          <!--  -->
          {% for link in nav_items %}
          <li class="nav-item">
            <a href="{{link.path}}" class="nav-link d-flex flex-row">
              <div class="d-flex icon">{{link.icon | safe}}</div>
              {{link.title}}
            </a>
          </li>
          <!--  -->
          {% endfor %}
        </nav>
      </div>
      <main>{% block body %} {% endblock %}</main>
    </div>
  </body>
</html>

<script>
  window.onload = function () {
    const pathname = window.location.pathname;

    document.querySelectorAll(".nav .nav-item").forEach((element) => {
      const href = element.querySelector("a").getAttribute("href");
      if ((href || "/") === pathname) {
        element.classList.add("active");
      } else {
        element.classList.remove("active");
      }
    });
  };
</script>
